.match{
	width: 457px;
	height: 225px;
	background-color: black;
	margin-top: 15px;
	box-shadow: 0px 0px 2px #BBB;
}
.logo{
	width: 450px;
	height: 225px;
	margin-top: 52px;
}
.logo img{
	display: block;
    margin-left: auto;
    margin-right: auto ;
}
.titre_court{
	width: 100%;
	height: 40px;
	background-color: #454545;
}
.tab{
	width: 97,7%;
	height: 185px;
	background-color: #eeeeee;
}
.phot1{
	display: inline-block;
	width: 86px;
	margin: 20px 1px 0px 10px;
	vertical-align: top;
}
.phot2{
	  display: inline-block;
	  width: 86px;
	  margin: 020px 00px 0px -5px;
	  vertical-align: top;
}

.nom{
	width: 49%;
  	height: 42px;
  	font-weight: bold;
  	color: #454545;
  	display: inline-block;
  	margin-top: 2px;
}

.nomA{
	text-align: left;
  	height: 19px;
  	text-overflow: ellipsis;
  	overflow: hidden;
  	margin-left: 5%;
}

.nomB{
	text-align: right;
  	text-overflow: ellipsis;
  	overflow: hidden;
  	height: 19px;
  	margin-right: 3%;
}

.photo1{
	width: 86px;
	height: 114px;
	border: 5px #cccc19 solid;
	vertical-align: top;
}

.photo2{
	width: 86px;
	height: 114px;
	border: 5px #a98258 solid;
	vertical-align: top;
}
.info{
	margin: 020px 0px 0px 0px;
  	display: inline-block;
  	vertical-align: top;
  	width: 250px;
  	height: 119px;
}

.nature{
	width: 270px;
	height: 20px;
	margin-left:35px;
	font-weight: bold;
	color: black;
}

.court{
	text-align: center;
	font-size:2.5em;
	
}
.ligne{
	width: 100%;
	height: 35%;
	margin-top: 2% ;
}
.ligne img{
  border: 0;
  vertical-align: middle;
}
.ligne1{
	width: 95%;
	height: 100%;
	background-color: #cccc19 ;
	float: left;
	border-radius: 0px 5px 5px 0px;
	overflow:hidden;
}
.ligne2{
	width: 95%;
	height: 100%;
	background-color: #a98258;
	float: right;
	border-radius: 5px 0px 0px 5px;
	overflow:hidden;
}
.r{
	float:right;
	overflow:auto;
}
.container  table {
	width: 95%;
	height: 100%;
	
}

.service{
	width: 19%;
	/*border-right: 1px black solid;*/
}
.service img{
	float : right;
	/*border-right: 1px black solid;*/
}
.score{
	width: 13%;
	font-weight:bold;
	color: #FAFAFA;
	background-color: rgba(40, 40, 40, 0.3);
  	text-align: center;
	font-size: 1.2em;
}
.set{
	font-weight:bold;
	width:8%;
	text-align: center;
	font-size: 1.2em;
}
.nat{
	width: 16%;
	padding-left: 3%;
}
