body
{
	font-family: Arial, Helvetica, sans-serif;
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
}
.container{
	margin: 0 auto;
	width: auto;
}
.block 
{
float:left;
width: 22.85714285714% ;/* 320px; / 1400 */
margin:0;
padding:0;
margin-left: 0.625em ;/* 10px / 1400   0,714285714 % ; */
}


.titleCountry
{
	max-width : 100%;
	height : auto;
	background-color: #23719F;
	padding : 1px;
}

.div_match
{
	width : 100%;
	height : 90px;
	padding:2px;
	
}

.tabRencontre
{
	min-width : 100%;
	margin-top : 0px;
}
.tabRencontre tr td
{
	padding-left : 5px;
	
}
.tdscoreset
{
	border-right : 1px solid black;
	text-align : center ;
	width : 15px;
	
}
.ligneWhite
{
	color: white ;
}

.ligneWhite 
{
	color: white ;
}

.tdnomJ
{
	border-right : 1px solid black;
	max-width : 100%;
}
.tdscore
{
	text-align : center ;
	width : 35px;
	color:  #23719F;
}

.soon
{
	text-align : center ;
	width : 35px;
	color:  #23719F;
	font-weight: bold;
}

.tabRencontre img
{
	width : 1.875em; /* 30px*/
	height : 1.125em; /* 18px*/
	
}
.uneRencontre
{
	background-color: #EEEEEE;
}

.soustitre
{
	font-size: 0.750em ; /* 12px*/
}
.nomJ
{
	margin-left : 5px;
	font-size: 0.875em ; /* small 14px*/
}
.nomJGagne
{
	margin-left : 5px;
	font-size: 0.875em ; /* small 14px*/
	color : #68B04F ; 
	font-weight: bold;

}

h1 img
{
	width : 30px;
	height : 18px;
	
}
.nomJ2
{
	margin-left : 40px;
	margin-top : -35px; 
}

h1
{
	text-align : center ;
	color: white;
	font-size: 1.125em ; /* 18 px */
	height : auto;
	
}
.titleMatch
{
	display:block;
	text-align : center ;
	font-weight: bold;
	margin-bottom : 5px;
}


  
   
