.container2
{
	/*border : 1px solid black;*/
	margin: auto;
	/*margin-left: auto;
	margin-right: auto;*/
	max-width: 100%;
	min-height: 400px;
	padding:auto;
}
.block
{
	text-align:center;
}
.uneRencontre
{
	background-color: #EEEEEE;
	display: inline-block;
	width: 380px ;/* 320px; / 1320px */
	padding:0;
	margin-left: 10px ;/* 10px / 1400   0,714285714 % ; */
	margin-top: 20px ;/* 10px / 1400   0,714285714 % ; */
	box-shadow: 0px 0px 2px #BBB;
}

hr{
	color: red;
}

.premiereRencontre
{
	background-color: #EEEEEE;
	float:left;
	min-width: 320px
	padding:0;
	/*margin-left: 10px ;/* 10px / 1400   0,714285714 % ; */
}

.titleCountry
{
	max-width : 100%;
	height : auto;
	background-color: #454545;
	color: #f5f5f5;
	padding : 1px;
}

.teamNames
{
	max-width: 254px;
  	overflow: hidden;
  	display: inline-flex;
  	max-height: 20px;
}

.div_match
{
	width : 100%;
	height : 100px;	
}

.tabRencontre
{
	min-width : 100%;
	margin: auto;
}
.tabRencontre tr td
{
	padding-left : 5px;
	
}

.ligneWhite 
{
	color: white ;
}

.tdnomJ
{
	max-width : 100%;
}

.tabSoon
{
	margin-top:21px;

}
.soon
{
	text-align : center ;
	width : 100%;
	color:  #B6B6B6;
	font-weight: bold;
	font-size:large;
}

.tabRencontre img
{
	width : 1.875em; /* 30px*/
	height : 1.125em; /* 18px*/
}

.soustitre
{
	font-size: 0.850em;
	color:white;
}

.nomJ2
{
	margin-left : 40px;
	margin-top : -35px; 
}

.container2 h1
{
	text-align : center ;
	color: white;
	font-size: 17px;
	height : auto;
	
	
}
.titleMatch
{
	display:block;
	text-align : center ;
	font-weight: bold;
	margin-bottom : 5px;
	margin-top : 5px;
	color: #454545;
	font-size : medium;
}

.ligneA{
	width: 95%;
	height: 35px;
	background-color: #C5C519;
	float: left;
	border-radius: 0px 5px 5px 0px;
	overflow:hidden;
	margin-top: 2px;
	vertical-align: middle;
}
.ligneA table{
	margin-left:38px;
}

.ligneB{
	width: 95%;
	height: 35px;
	background-color: #a98258;
	float: right;
	border-radius: 5px 0px 0px 5px;
	overflow:hidden;
	margin-top:5px;
	vertical-align: middle;
}

.tabJoueur
{
	width:90%;
	height:100%;
	margin: auto;
}

.tdJoueur
{
	text-align: left;
	color: white ;
}

.drapeauSupermatch
{
	width: 50px;
	height: 30px;
	vertical-align: middle;
}

.balle
{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.tdballe
{
	width: 30px;
}


.tabJoueur td
{
  vertical-align :middle;
}

.tdscoreset
{
	width : 20px;
	color: #FAFAFA;
	font-weight: bold;
	font-size: 1.1em;
}
.tdscore
{
	text-align : center ;
	width : 38px;
	/*color: #5c5c5c ;*/
	font-size: 1.1em;
	font-weight: bold;
	background: #f5f5f5;
    color: #FAFAFA;
    background: none repeat scroll 0 0 rgba(40, 40, 40, 0.3);
}

.nameJoueur
{
	font-size: 15px;
	font-weight: bold;
}


.derniermatch
{
 margin-bottom:10px;

}

