.pt-perspective {
	position: relative;
	width: 100%;
	min-height: 800px;
	-webkit-perspective: 1400px;
	-moz-perspective: 1400px;
	perspective: 1400px;
}

.pt-page {
	width: 100%;
	min-height: 800px;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.pt-page-current,
.no-js .pt-page {
	visibility: visible;
	z-index: 1;
}

.no-js body {
	overflow: auto;
}

.pt-page-ontop {
	z-index: 999;
}









