
.pays{
	height: 60%;
	width: 100%;
}
.gauche{
	float: left;
	width: 50%;
 	height: 100%;
}
.droite{
	float: left;
    width: 50%; 
}
.titre{
    text-align: center;
    color: #454545;
    margin-top: 180px; 
	font-size: 20px;
}

.titres{
    text-align: center;
    color: blue;
	font-size: 20px;
}

.miseenpage
{
	height:100%;
	margin:auto;
}
.spancentre
{
	display:inline-block;
	height:900px;
	vertical-align:middle;
	
}

#container3{ 
    width: 1400px;
	height:720px;
	display:inline-block;
	vertical-align:middle;
}

#container4{ 
    width: 60%; 
    margin:10px auto;
}

#tableScore{ 
    float: left; 
	margin-left : 50px;
}

#troisiemeplace{ 
    float: left;
	margin-left : 50px;
}

#septiemeplace{ 
    float: left;
	margin-left : 10px;
}

.texte{
    text-align: center;
    font-size: 20px;
    display: block;
    color: #222;
    text-overflow: clip;
    overflow: hidden;
}
.textegagnant{
    text-align: center;
    font-size: 20px;
    color: green;
    display: block;
    text-overflow: clip;
    overflow: hidden;
}
.texteperdant{
    text-align: center;
    font-size: 20px;
    color: red;
    display: block;
    text-overflow: clip;
    overflow: hidden;
}
#container3 .score{
 text-align: center;
 color: #454545;
 font-size: 25px;
 background-color: #EEE;
 font-weight: bold;
}
.scoreperdant{
 text-align: center;
 color: red;
 font-size: 25px;
 font-weight: bold;
}
.scoregagnant{
 text-align: center;
 color: green;
 font-size: 25px;
 font-weight: bold;
}

.drapeaux
{
  width: 60px;
  height: 40px;
  float: none;
}

.balle
{
	width : 20px;
	height : 20px;
}

.borderdroit
{
	 border-right: 1px solid #777; 
}

#container3 section { 
    width: 230px; 
    height: 520px; 
    float: left;
}


#container3 section > div { 
    width: 230px; 
    height: 110px;
    margin: 10px 0; 
    background: #EEEEEE; 
    color: black; 
    padding: 10px 0px 10px 0px;
    box-shadow: 0px 0px 2px #BBB;
}

#container3 section > div:nth-child(2n) { 
    margin-bottom: 40px;
}

#gagnantLoser > div { 
    margin-top: 250px; 
}


#line3Loser div { 
    margin-top: 275px; 
}

#line3Loser2 div { 
    margin-top: 240px; 
}

#conn3Loser div { 
    margin-top: 150px; 
    height: 270px;
}

#container3 #semiFinalsLoser > div { 
    margin-top: 142px; 
}
#container3 #semiFinalsLoser > div:first-child { 
    margin-top: 85px; 
}

#line2Loser div { 
    margin-top: 275px; 
}

#line2Loser div:first-child { 
    margin-top: 145px; 
}

#conn2Loser div { 
    margin-top: 135px; 
    height: 135px;
}

#conn2Loser div:first-child { 
    margin-top: 80px; 
}

#quarterFinals > div { 
    margin-top: 0px; 
}

#quarterFinals > div:first-child { 
    margin-top: 15px; 
}

#quarterFinals > div:nth-child(3) { 
    margin-top: -30px; 
}


.connecter { 
    width: 40px; 
    height: 520px; 
    float: left; 
}

.connecterWin{ 
    width: 30px; 
    height: 520px; 
    float: left; 
}

.line2{ 
    width: 35px; 
    height: 510px; 
    float: left; 
}
.line { 
    width: 20px; 
    height: 510px; 
    float: left; 
}

.line div { 
    border-top: 1px solid #777; 
    margin: 133px 0 0 1px; 
}

.line div:first-child { 
    margin-top: 55px; 
}


.connecter div { 
    border: 1px solid #777; 
    border-right: none; 
    height: 50px; 
    width: 100%; 
    margin: 80px 0 0 1px;
}

.connecter div:first-child { 
    margin: 32px 0 0 1px; 
}


.connecterWin div { 
    border: 1px solid #777; 
    border-left: none; 
    height: 50px; 
    width: 100%; 
    margin: 80px 0 0 1px;
}

.connecterWin div:first-child { 
    margin: 32px 0 0 1px; 
}

#m4{
    margin-top: -30px!important;
}