.match{
	width: 450px;
	height: 225px;
	background-color: black;
	margin-top: 15px;
}
.titre{
	width: 100%;
	height: 40px;
	background-color: rgb(60,60,60);
}
.tab{
	width: 97,7%;
	height: 185px;
	background-color: rgb(90,90,90);
	border-left: 5px rgb(238,137,90) solid;
	border-right: 5px rgb(11,174,168) solid;
}
.phot1{
	display: inline-block;
	width: 80px;
	height: 164px;
	margin: 20px 1px 0px 10px;
	vertical-align: top;
}
.phot2{
	display: inline-block;
	width: 80px;
	height:164px;
	margin: 20px 10px 0px -4px;
	vertical-align: top;
}

.nom{
	text-align: center;
	width: 100%;
	height: 50px;
}

.photo1{
	
	width: 100%;
	height: 114px;
	border: 5px rgb(238,137,90) solid;
	vertical-align: top;
}

.photo2{
	width: 100%;
	height: 114px;
	border: 5px rgb(11,174,168) solid;
	vertical-align: top;
	
}
.info{
	margin: 20px 0px 20px 0px;
	display: inline-block;
	vertical-align: top;
	width: 240px;
	height: 119px;
}

.nature{
	width: 270px;
	height: 20px;
	text-align: center;
}

.court{
	text-align: center;
	font-size:2em;
	
}
.ligne{
	width: 100%;
	height: 35%;
	margin-top: 1% ;
}
.ligne1{
	width: 95%;
	height: 100%;
	background-color: rgb(238,137,90) ;
	float: left;
	border-radius: 0px 5px 5px 0px;
	overflow:hidden;
}
.ligne2{
	width: 95%;
	height: 100%;
	background-color: rgb(11,174,168);
	float: right;
	border-radius: 5px 0px 0px 5px;
	overflow:hidden;
}
.r{
	float:right;
	overflow:auto;
}
.container  table {
	width: 95%;
	height: 100%;
	
}
 body{
	color: white;
	font-family: Arial ;
}

.service{
	width: 19%;
	/*border-right: 1px black solid;*/
}
.score{
	width: 20%;
}
.nat{
	width: 20%;
}
