body
{
	font-family: Arial, Helvetica, sans-serif;
}
.gagnant
{
 color: green;
 
}
.titre
{
	background-color: rgb(0, 99, 147);
	padding : 5px;
	color: white;
	
}
.score
{
	color: blue;
	
}

table
{
 
  width : 450px;
  padding : 7px;
  overflow:auto;
}

.ligne
{
	background-color: rgb(240, 240, 240);
	height:65px;
	overflow:auto;
}

td.ss
{
	text-align: center;
	
}
#gauche {
	
    float: left;
	width: 450px;
    margin-right: 4px;
   

}  
#droite {
	width: 450px;
    margin-left: 4px;
	float: right;
}
#centre {
	overflow: hidden;
	width : auto;
	
}