/* Computer */
.grid_3 { margin: 0 auto; width: 100%;}
.grid_4 { width: 30%;} 
.grid_5 { height: 700px; width: 450px; margin: 0 auto;}

.name{
	width: 60%;
}
.cat{
	text-align: center;
}
.lignecat{
	background-color: rgb(240, 240, 240);
    height: 55px;
    overflow: auto;
}
table{
	margin-bottom: 10px;
}
.grid_4 {
	margin: 1% 1% 1% 1%;
	display: inline-block;
}

.container{
	width: 95%; /*width: 1000px;*/
	max-width: 1600px;
	margin: auto;
	
}



.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}


/* Tablet */
@media screen and (max-width : 1540px) {

.grid_4{
	width:45%;
}
.grid_5{
	height: 700px;
}
}

/* Mobile */
@media screen and (max-width : 1060px) {

.grid_4{
	width:100%;
}
.grid_5{
	height: 100%;
}
}