body{
	font-family: 'Montserrat', sans-serif;
  	font-size: 20px;
  	background: #f5f5f5;
  	color: #444;
}
table{
	margin: auto;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border-radius: 3px;
}
caption{ 
	font-weight: bold;
	margin: 40px;
	font-size: 2em;
}
thead{
	color: #DDDDD7;
	height: 50px;
	background: #454545;
}
tbody{
	background: #EEE;
}

th, td{
	border-bottom: 1px solid #DEDEDE;
}
h1{
	font-weight: bold;
	font-size: 2em;
}

ul{
	list-style: outside none none;
}
li{
	display: inline-block;
	min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
tr.clickable-row{
	cursor: pointer;
	height: 163px;
}
tr.clickable-row:hover{
	background: #D7D7D7;
}
.container{
	display: block;
	width: 980px;
	margin: auto;
	text-align: center;
}
.flag{
	width: 150px;
	height: 100px;
}
.flag2{
	width: 75px;
	height: 50px;
	vertical-align: middle;
}
.flag3{
	width: 45px;
	height: 30px;
	vertical-align: middle;
}
.photo{
	width: 100px;
	height: 133px;
	vertical-align: middle;
}
.photo2{
	width: 50px;
	height: 66.5px;
	vertical-align: middle;
}
.photos{
	display: inline-block;
	margin-left: 10px;
	height: 70px;
	vertical-align: middle;
	text-align: center;
}
.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.name{
	display: inline-block;
	height: 70px;
	line-height: 70px;
}
.drapeau{
	display: inline-block;
	margin-right: 10px;
	height: 70px;
}
.card{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	cursor: pointer;
	background: #EEE;
	color: #333;
	border-radius: 5px;
}
.card * :hover{
	background: #D7D7D7;
}
.card th{
	width: 33%;
	border-bottom: none;
}
.mini{
	vertical-align: middle;
	min-height: 50px;
}
.versus{
	text-align:center;
	padding-top: 10px;
}
.score{
	padding-bottom: 10px;
}
#match{
	display: none;
}
#stat{
	display: none;
}
#statistique{
	cursor: pointer;
	height: 60px;
	width:100%;
	display:table;
	color :#EEE;
	background: rgb(183,147,109);
	border-radius: 3px;
	margin-bottom: 10px;
}
#statistique:hover{
	background: rgb(168,129,87);
}
#statistique > h1 {
	vertical-align: middle;
	display:table-cell;
}
#matches{
	cursor: pointer;
	height: 60px; 
	width:100%;
	display:table;
	color: #EEE;
	background: rgb(183,147,109);
	border-radius: 3px;
}
#matches:hover{
	background: rgb(168,129,87);
}
#matches > h1 {
	vertical-align: middle;
	display:table-cell;
}

#header{
	width: 100%;
	height: 140px;
	margin-bottom: 10px;
	color: #DDDDD7;
	background: #454545;
	border-radius: 3px;
	display:table;
}
#photo{
	display: inline-block;
	vertical-align: middle;
	display:table-cell;
	width: 200px;
}
#info{
	display: inline-block;
	vertical-align: middle;
	display:table-cell;
}
#flag{
	width: 200px;
	display: inline-block;
	vertical-align: middle;
	display:table-cell;
}
#average{
	font-size: 0.8em;
	color:#A98258;
}
#stat > table{
	margin-bottom: 10px;
	background: #540047;
	width: 90%;
	color: #333;
}

/* Match.html */
.container2{
	display: block;
	margin: auto;
	text-align: center;
	width: 860px;
}
.firstContent{
	height: 155px;
	padding-top: 15px;
}
.leftPhoto{
	padding-left: 10px;
	padding-right: 10px;
	height: 153px;
	background: #cccc19;
	float: left;
	z-index: 2;
}
.marginleft{
	margin-left: 7px!important;
}
.rightPhoto{
	padding-left: 10px;
	padding-right: 10px;
	height: 153px;
	background: #a98258;
	float: right;
	z-index: 2;
}
.leftName{

}
.leftScore{
	font-size: 1.8em;
	background: #cccc19;
	border-radius: 5px;
	width: 70%;
	color: #fff;
}
.rightScore{
	margin-top: 5px;
	font-size: 1.8em;
	background: #a98258;
	border-radius: 5px;
	width: 70%;
	color: #fff;
	margin-left: 30%;
}
.leftName{
	float: left;
	text-align: left;
}
.rightName{
	float: right;
	text-align: right;
}
.blockScore{
	text-align: center;
	margin: auto;
	height: 100px;
	vertical-align: middle;
	padding-top: 20px;
	z-index: 1;
}
#leftBlock{
	width: 345px;
	margin-left: 258px;

}
#rightBlock{
	width: 345px;
}
#setA1{
	display: inline-block;
	margin-right: 4%;
	width: 23px;
}
#setA2{
	display: inline-block;
	margin-right: 4%;
	width: 23px;
	
}
#setA3{
	display: inline-block;
	margin-right: 4%;
	width: 23px;
	
}
#setA4{
	display: inline-block;
	margin-right: 4%;
	width: 23px;
	
}
#setA5{
	display: inline-block;
	width: 23px;
	margin-right: 4%;
	
}
#setB1{
	display: inline-block;
	margin-right: 4%;
	width: 23px;
	
}
#setB2{
	display: inline-block;
	margin-right: 4%;
	width: 23px;
	
}
#setB3{
	display: inline-block;
	margin-right: 4%;
	width: 23px;
	
}
#setB4{
	display: inline-block;
	margin-right: 4%;
	width: 23px;
	
}
#setB5{
	display: inline-block;
	margin-right: 4%;
	width: 23px;
}
#scoreA{
	display: inline-block;
	width: 45px;
	background: none repeat scroll 0 0 rgba(40, 40, 40, 0.3);
}
#scoreB{
	display: inline-block;
	width: 45px;
	background: none repeat scroll 0 0 rgba(40, 40, 40, 0.3);
}
#statsView{
	margin-top: 80px;
	text-align: center;
}
#statsView > table > tbody {
	background: none;
}
#statsView tr:first-child td{
	width: 63px;
}
.row *{
	display:inline-block;
}

.barl{
	width: 120px;
	height: 5px;
	background: #5CB0DE;
	border-radius: 5px;
}
.barr{
	width: 120px;
	height: 5px;
	background: #5CB0DE;
	border-radius: 5px;
}
.middle{
	width: 40%;
}
#statsView > table{
	background: #f5f5f5;
	width: 80%;
	margin-bottom: 20px;
}
#statsView > table > tbody > tr > td{
	border-bottom: none;
	color: #444;
}
#statsView > table > tbody > tr > td:first-child{
	color:#CCCC19!important;

}
#statsView > table > tbody > tr > td:last-child{
	color:#A98258!important;
}

#courtView > div > .left {
	width: 20%;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	margin-bottom: 40px;
}
#courtView > div > .right{
	width: 20%;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	margin-bottom: 40px;
}
#courtView > div > img{
	vertical-align: middle;
}
.left > div{
	color:#CCCC19;
	margin-top: 25px;
}
.right > div{
	color:#A98258;
	margin-top: 25px;
}