html,body {
		height:100%;
		display:table;
		width:100%;
	}
 
	body {
		display:table-cell;
		vertical-align:middle;
	}
body
{
	font-family: Arial, Helvetica, sans-serif;
}
.pays{
	height: 60%;
	width: 100%;
}
.gauche{
	float: left;
    margin-left: 20px;
	width: 70px;
 	height: 100%;
}
.droite{
	float: left;
    margin-left: 15px;
    width: 70px; 
}
.titre{
    text-align: center;
   
    color: blue;
    margin-top: 180px; 
	font-size: 20px;
}

.titres{
    text-align: center;
   
    color: blue;
	font-size: 20px;
}

#container { 
    width: 1400px;
	margin:auto;
	
}

#container2{ 
    width: 60%; 
    margin:auto;
	
}

#tableScore{ 
    float: left; 
	margin-left : 50px;
}

#troisiemeplace{ 
    float: left;
	margin-left : 50px;
}

#septiemeplace{ 
    float: left;
	margin-left : 10px;
}

.texte{
 text-align: center;
 font-size: 20px;
}
.textegagnant{
 text-align: center;
 font-size: 20px;
 color: green;
}
.texteperdant{
 text-align: center;
 font-size: 20px;
 color: red;
}
.score{
 text-align: center;

 color: blue;
 font-size: 25px;
}
.scoreperdant{
 text-align: center;
 
 color: red;
 font-size: 25px;
}
.scoregagnant{
 text-align: center;

 color: green;
 font-size: 25px;
}

.drapeaux
{

    margin-right: 10px; 
	width : 60px;
	height : 40px;

}

.balle
{
	width : 20px;
	height : 20px;
}

.borderdroit
{
	 border-right: 1px solid black; 
}

section { 
    width: 230px; 
    height: 520px; 
    float: left;
}


section > div { 
    width: 200px; 
    height: 100px; 
    border: 1px solid #000; 
    margin: 10px 0; 
    background: #EEEEEE; 
    color: black; 
    padding: 10px 10px 10px 20px;
}

section > div:nth-child(2n) { 
    margin-bottom: 40px;
}

#gagnantLoser > div { 
    margin-top: 250px; 
}


#line3Loser div { 
    margin-top: 265px; 
}

#line3Loser2 div { 
    margin-top: 240px; 
}

#conn3Loser div { 
    margin-top: 140px; 
    height: 270px;
}

#semiFinalsLoser > div { 
    margin-top: 142px; 
}
#semiFinalsLoser > div:first-child { 
    margin-top: 85px; 
}

#line2Loser div { 
    margin-top: 265px; 
}

#line2Loser div:first-child { 
    margin-top: 145px; 
}

#conn2Loser div { 
    margin-top: 125px; 
    height: 135px;
}

#conn2Loser div:first-child { 
    margin-top: 80px; 
}

#quarterFinals > div { 
    margin-top: 0px; 
}

#quarterFinals > div:first-child { 
    margin-top: 15px; 
}

#quarterFinals > div:nth-child(3) { 
    margin-top: -30px; 
}


.connecter { 
    width: 40px; 
    height: 520px; 
    float: left; 
}

.connecterWin{ 
    width: 30px; 
    height: 520px; 
    float: left; 
}

.line2{ 
    width: 35px; 
    height: 510px; 
    float: left; 
}
.line { 
    width: 20px; 
    height: 510px; 
    float: left; 
}

.line div { 
    border-top: 1px solid #000; 
    margin: 133px 0 0 1px; 
}

.line div:first-child { 
    margin-top: 55px; 
}


.connecter div { 
    border: 1px solid #000; 
    border-right: none; 
    height: 50px; 
    width: 100%; 
    margin: 80px 0 0 1px;
}

.connecter div:first-child { 
    margin: 32px 0 0 1px; 
}


.connecterWin div { 
    border: 1px solid #000; 
    border-left: none; 
    height: 50px; 
    width: 100%; 
    margin: 80px 0 0 1px;
}

.connecterWin div:first-child { 
    margin: 32px 0 0 1px; 
}

#m4{
    margin-top: -30px!important;
}